@font-face {
    font-family: "Squid";
    src: url("/fonts/animeace2_bld.ttf");
}

body {
    font-family: 'Times New Roman', 'Calibri', Arial, sans-serif;
    /* font-weight: 300; */
    text-align: center;
    background-color: rgb(255, 250, 250);

    margin: 0;
    padding: 0;

    background-image: url();
    background-size: cover;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

#container {
    /* adjust the grid size to the screen size */
    display: grid;
    width: 1400px;
    height: 700px;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#title {
    font-family: "Squid";
    font-size: 25px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#reset {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

#sound {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;

    background-color: #ea7a12b0;
    color: #f9f6f2;
    border: 2px solid #000000;
    border-radius: 10px;

    cursor: pointer;
}

#theme {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;

    background-color: #e6dddd9b;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;

    cursor: pointer;
}

#r0 {
    font-size: 50px;
}

#board {

    /* display this on the container grid in the second row and spans the left 2 columns */
    grid-column: 2 / 2;
    grid-row: 2 / 4;

    /* border: 5px solid rgb(0, 0, 0); */
    border-radius: 10px;
    padding: 3px;

    width: 600px;
    height: 600px;

    margin: 0 auto;
    /* center the board */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    /* border: 5px solid rgb(0, 0, 0); */
    background-color: rgba(0, 0, 0, 0.364);
    border : 10px solid #00000088;
}

#highScore {
    font-family: Squid;
    font-size: 20px;
}

#scoreTable {
    font-family: "Squid";
    /* change the background color of the element */
    background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%);

    grid-column: 1 / 2;
    grid-row: 2 / 5;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: #cdc1b500;
    border: 10px solid #00000088;
    justify-content: space-around;
    align-items: center;
}

#belowBoard {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}

#reset {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;

    background-color: #302c28b7;
    color: #f9f6f2;
    border: 2px solid #0a0a0a;
    border-radius: 10px;

    cursor: pointer;
}

#splash {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: "Squid";
}

#gameOver {
    /* keep it in the grid but overlay it on the second row and second column */
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    position: absolute;
    
    margin-top: 200px;
}

.tile {
    width: 135px;
    /* account for border 5px */
    height: 135px;
    border: 4px solid #000000;
    margin: 1px;
    border-radius: 5px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181800;
}

.x2 {
    background-color: #f1a285;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x4 {
    background-color: #75d1f5;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x8 {
    background-color: #4091c9;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #ffffff;
}

.x16 {
    background-color: #1368aa;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x32 {
    background-color: #063f88;
    /* background: linear-gradient(40deg, rgb(34, 196, 50) 0%, rgb(0, 255, 8) 50%, rgb(34, 196, 61) 100%); */
    color: white;
}

.x64 {
    background-color: #f29479;

    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x128 {
    background-color: #f26a4f;

    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x256 {
    background-color: #cb5d53;

    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x512 {
    background-color: #ce2d27;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x1024 {
    background-color: #d34858;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x2048 {
    background-color: #b13732;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x4096 {
    background-color: #cf1c1c;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x8192 {
    background-color: #982f2b;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}