@font-face {
    font-family: 'Squid';
    src: url("/fonts/Game Of Squids.ttf");
}

@font-face {
    font-family: 'ClearSans';
    src: url("/fonts/ClearSans-Bold.ttf");
}

@font-face {
    font-family: 'StarWars';
    src: url("/fonts/Starjedi.ttf");
}

body {
    font-family: 'StarWars', 'ClearSans', 'Times New Roman', 'Calibri';
    /* font-weight: 300; */
    text-align: center;
    /* background-color: rgb(255, 250, 250); */

    margin: 0;
    padding: 0;

    /* background-image: url('https://youtu.be/t3WXTDhJezc'); */
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}

#video {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
}

#container {
    /* make a grid with 2 rows and 3 cols */
    display: grid;
    width: 1400px;
    height: 700px;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#title {
    font-family: "StarWars";
    font-size: 30px;
    color: red;
    /* make the text neon, but still readable */
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;

    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

#r0 {
    font-size: 50px;
}

#board {
    /* display this on the container grid in the second row and spans the left 2 columns */
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    
    /* border: 5px solid rgb(0, 0, 0); */
    border-radius: 10px;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
    padding: 3px;

    width: 600px;
    height: 600px;

    margin: 0 auto; /* center the board */
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;

    /* border: 5px solid rgb(0, 0, 0); */
    background-color: rgb(0,0,0,0.4);
}

#highScore {
    font-family: "StarWars";
    font-size: 20px;
    /* color: lightgreen */
    color: red;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
}

#scoreTable {
    font-family:"StarWars";
    /* color: lightgreen; */
    color: red;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000; */
    background: linear-gradient(black, rgb(255, 0, 0, 0.5));

    grid-column: 1 / 2;
    grid-row: 2 / 5;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    border-radius: 10px;
    border: 6px solid white;
    justify-content: space-around;
    align-items: center;
}

#belowBoard {
    grid-column: 2 / 3;
    grid-row: 4 / 4;
}

#reset, #sound, #theme {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: "StarWars";
    font-size: 20px;
    font-weight: regular;

    background: linear-gradient(black, rgba(255, 0, 0, 0.5));
    color: white;
    border: 3px solid white;
    /* make the border glow */
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;
    border-radius: 10px;

    cursor: pointer;
}

#reset:hover, #sound:hover, #theme:hover {
    background: linear-gradient(rgba(255, 0, 0, 0.5), #000000);
    color: red;
}

#splash {
    font-family: "StarWars";
    font-size : 50px;
    color : red;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 90px #ff0000, 0 0 100px #ff0000, 0 0 150px #ff0000;

    cursor : pointer;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    z-index : 100;
    background-color : rgba(0,0,0,0.5);
    display : flex;
    justify-content : center;
    align-items : center;
}

.tile{
    width: 135px; /* account for border 5px */
    height: 135px; 
    /* border: 2px solid rgb(235,33,46); */
    border: 4px solid white;
    margin: 1px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181822;
}

.x2 {
    background-color: #fedfd4;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x4 {
    background-color: #9dcee2;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x8 {
    background-color: #4091c9;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #ffffff;
}

.x16 {
    background-color:#1368aa;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x32 {
    background-color: #063f88;
    /* background: linear-gradient(40deg, rgb(34, 196, 50) 0%, rgb(0, 255, 8) 50%, rgb(34, 196, 61) 100%); */
    color: white;
}

.x64 {
    background-color: #f29479;

    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x128 {
    background-color: #f26a4f;

    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: #321b1b;
}

.x256 {
    background-color: #ef3c2d;

    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x512 {
    background-color: #cb1b16;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x1024 {
    background-color: #65010c;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x2048 {
    background-color: #cb1b16;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x4096 {
    background-color: #cb1b16;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

.x8192 {
    background-color: #cb1b16;
    /* background: linear-gradient(40deg, rgba(0, 0, 0, 0.5) 0%, rgb(159, 154, 154) 50%, rgba(0, 0, 0, 0.5) 100%); */
    color: white;
}

