body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    text-align: center;
    background-color: rgb(193, 171, 171);
    color: rgba(66, 59, 59, 1);
}

hr {
    width: 400px;
    border: 1px solid rgb(66, 59, 59);
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

#title {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
}

#reset {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

#sound {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;

    background-color: #8f7a66;
    color: #f9f6f2;
    border: 2px solid #776e65;
    border-radius: 10px;

    cursor: pointer;
}

#r0 {
    /* gradient color background */
    background: linear-gradient(90deg, rgb(180, 61, 61) 0%, rgb(242, 8, 8) 50%, rgb(255, 0, 0) 100%);
}

#board {
    /* display this on the container grid in the second row and spans the left 2 columns */
    grid-column: 2 / 2;
    grid-row: 2 / 4;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;

    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    border-radius: 10px;

    margin: 0 auto; /* center the board */
    display: flex; 
    flex-wrap: wrap; 
}

#scoreTable {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    background-color: #cdc1b5;
    border: 6px solid #bbada0;
    justify-content: space-around;
    align-items: center;
}


#reset {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 20px;
    font-weight: bold;

    background-color: #8f7a66;
    color: #f9f6f2;
    border: 2px solid #776e65;
    border-radius: 10px;

    cursor: pointer;

}

.tile { 
    width: 90px; 
    height: 90px; 
    border: 5px ridge rgba(66, 59, 59, 0.7);
    border-radius: 10px;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f2b17a;
    color: #ffffff;
}

.x16 {
    background-color: #f59575;
    color: #ffffff;
}

.x32 {
    background-color: #f57c5f;
    color: #ffffff;
}

.x64 {
    background-color: #f65d3b;
    color: #ffffff;
}

.x128 {
    background-color: #edce71;
    color: #ffffff;
}

.x256 {
    background-color: #edcc63;
    color: #ffffff;
}

.x512 {
    background-color: #edc651;
    color: #ffffff;
}

.x1024 {
    background-color: #eec744;
    color: #ffffff;
}

.x2048 {
    background-color: #eec230;
    color: #ffffff;
}

.x4096 {
    background-color: #fe3d3d;
    color: #ffffff;
}

.x8192 {
    background-color: #ff2020;
    color: #ffffff;
}

